<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['first']" routerLinkActive="active">First</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['second']" routerLinkActive="active">Second</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['CV']" routerLinkActive="active">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['auth']" routerLinkActive="active">Authentication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['CV/addcv']" routerLinkActive="active">Add Cv</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['imageloop']" routerLinkActive="active">Image Loop</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->

    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
